<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="tableApp" ng-controller="tableController">
            <table class="table table-striped table-hover text-center database">
                <tr>
                    <th class="text-center">Number</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Phone Number</th>
                </tr>
                <tr ng-repeat="x in result">
                    <td>{{ $index+1 }}</td>
                    <td>{{ x._id }}</td>
                    <td>{{ x.firstName }}</td>
                    <td>{{ x.lastName }}</td>
                    <td>{{ x.age }}</td>
                    <td>{{ x.phoneNumber }}</td>
                </tr>
            </table><br>
        </div>
        <script>
            const app = angular.module("tableApp", []);
            app.controller("tableController", function($scope) {
                $scope.result = <%- JSON.stringify(ejsResult) %>;
            });
        </script>
    </body>
</html>