<!DOCTYPE html>
<html>
<body onload="download(fileName, JSON.stringify(databaseText))">
<script>
function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
    window.close();
}
    
let databaseText = { "database": <%- JSON.stringify(database) %> };
let d = new Date();  
let month = d.getMonth() + 1;
let fileName = "Database_" + d.getDate() + "." + "0" + month + "." + d.getFullYear() + "-" + d.getHours() + "." + d.getMinutes() + "." + d.getSeconds() + ".json";</script>
</body>    
</html>